* {
	letter-spacing: 0.15em;
	line-height: 1.25em;
  font-family: 'Press Start 2P', cursive;
}

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

  img {
    width: 78%;
    padding: 1%;
  }

  .menu ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
  }

  .menu li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
  }

  .menu {
    background-color: #1C252C;
    width: 100%;
  }

  h1 {
    font-size: 36px;
    line-height: normal;
    color: #F6F2F6;
    padding: 1%;
    background-color: #1C252C;
  }
  
  h2 {
    font-size: 30px;
    color: #1C252C;
    line-height: normal;
    margin-left: 5%;
  }
  
  a {
    color: #58545B;
    text-decoration: underline;
  }
  
  .navigation {
    margin-bottom: 30px;
    padding: 20px;

    background-color: #E1D5D9;
    border: 5px solid #1C252C;
  
    color: #1C252C;
  }
  
  .blog-navigation h2 {
    margin-top: 0;
  }
  
  .blog-navigation ul {
    padding-left: 0;
  }
  
  .blog-navigation li {
    margin-bottom: 5px;
  }
  
  .blog-navigation a {
    color: #E1D5D9;
  }
  
  footer {
    color: #F6F2F6;
    margin-top: 30px;
    background-color: #1C252C;
    padding: 10px;
  }
  
  p {
    background-color: #B7A7AE;
    padding: 1.1%;
    color: #F6F2F6;
    border: 5px solid #58545B;
  }

  section{
    width: 80%;
  }

  table.pricelist {
    background-color: #B7A7AE;
    border: 5px solid #58545B;
    color: #F6F2F6;
    display: block;
  }

.pricelist td, th {
      padding: 5px;
      border: 1px solid #58545B;
    }

  caption {
    color: #1C252C;
    font-size: 20px;
    margin-left: 5%;
  }
  .contacts {
    margin: 0 0 20px 20px;
  }

  .contacts a{
    color: #B7A7AE;
  }

  form {
    color: white;
    max-width: 700px;
    margin: 0 auto;
    background-color: #243038;
    padding: 20px;
    border-radius: 12px;
}